<div
  class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
>
  <div class="rounded-t mb-0 px-4 py-3 border-0">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3
          class="font-semibold text-lg text-blueGray-700"
        >
          Clients Table
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
          >
            first Name
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
          >
            Last Name
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
          >
            Email
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
          >
            Address
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
          >
            Houses Number
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of clients">
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          {{c?.firstName}}
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          {{c?.lastName}}
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          {{c?.email}}
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          {{c?.address}}
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
          {{c?.housesNumber}}
        </td>
        <td
          class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
        >
<!--          <app-table-dropdown></app-table-dropdown>-->
          <a
            class="text-blueGray-500 block py-1 px-3 cursor-pointer"
            (click)="dropDown()"
          >
            <i class="fas fa-ellipsis-v" ></i>
          </a>
          <div style="position: absolute"
            [ngStyle]="{'display': drop == false ? 'none' : 'block'}"
            class="bg-red-500 text-base float-left py-2 list-none text-left rounded shadow-lg mt-1">
            <a href="admin/users/edit/{{c?.userId}}" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-white">
              See profile
            </a>
            <a href="admin/users/view/{{c?.userId}}" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-white">
              Edit profile
            </a>
            <a href="admin/users/home/{{c?.userId}}" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-white">
              Add home
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
