<app-auth-navbar></app-auth-navbar>
<div id="fh5co-portfolio">
  <div class="container px-4 mx-auto">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
        <h1 class="text-red-500 background-transparent font-bold uppercase px-8 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150">Découvrez nos Airbnb’s</h1>
        <p>Nous proposons nos services dans les villes les plus cotées et touristiques du territoire et ne cessons d’étendre notre activité.</p>
      </div>
    </div>


    <div class="row row-bottom-padded-md">
      <div class="col-md-12">
        <ul id="fh5co-portfolio-list">

          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div class="color-3 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Appartement luxueux au centre de Marrakech</h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div  class="color-4 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Appartement luxueux au centre de Marrakech</h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div  class="color-5 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Appartement luxueux au centre de Marrakech</h2>
              </div>
            </div>
          </li>
          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div  class="color-6 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Appartement luxueux au centre de Marrakech</h2>
              </div>
            </div>
          </li>

          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div  class="color-3 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Appartement luxueux au centre de Marrakech</h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div  class="color-4 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Donation is caring</h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div  class="color-5 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Appartement luxueux au centre de Marrakech</h2>
              </div>
            </div>
          </li>
          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/services.jpg'); ">
            <div  class="color-6 cont">
              <div class="case-studies-summary">
                <span>Marrakech</span>
                <h2>Appartement luxueux au centre de Marrakech</h2>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="  text-center animate-box">
        <a href="#" class="btn btn-primary btn-lg" style="visibility: hidden">.</a>
      </div>
    </div>


  </div>
</div>


<div class="container mx-auto px-4 pb-48">
  <div class="items-center flex flex-wrap">
    <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
      <div class="md:pr-12">
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
          <i class="fas fa-file-alt text-xl"></i>
        </div>
        <h3 class="text-3xl font-semibold">Vous voulez également faire parti de nos Alquirela ?</h3>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Notre service de conciergerie Airbnb permet une gestion locative complète de vos logements en
          location saisonnière. Nous nous occupons de la gestion de votre location et pendant leur séjour,
          vos visiteurs pourront profiter d’une expérience de qualité dans votre propriété. Encore un doute
          ? Contactez-nous ou estimez vos revenus, il n’y a aucun engagement !
        </p>
        <ul class="list-none mt-6">
          <button [routerLink]="['/contact']" class="btn-hover text-red-500 bg-transparent border border-solid border-red-500 active:bg-red-600 font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
              Contact Us
          </button>
        </ul>
      </div>
    </div>

    <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
      <img
        alt="..."
        class="max-w-full rounded-lg shadow-xl"
        style="
            transform: scale(1) perspective(1040px) rotateY(-11deg)
              rotateX(2deg) rotate(2deg);
          "
        src="assets/img/logo.jpeg"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
