<app-auth-navbar></app-auth-navbar>
<div id="fh5co-portfolio">
  <div class="container px-4 mx-auto max:margin-top">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
        <h1 class="text-orange background-transparent font-bold uppercase px-8 py-3 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 text-3xl">
          Découvrez  Nos Appartements à Louer
        </h1>
        <p class="text-xl black-color">
          Toutes nos locations sont sélectionnées de manière rigoureuse
          afin de vous proposer les meilleurs appartements dans des
          endroits attrayants et proches de toutes les commodités.
        </p>
      </div>
    </div>


    <div class="row row-bottom-padded-md">
      <div class="col-md-12">
        <ul id="fh5co-portfolio-list">

          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/11.jpg'); ">
            <div class="color-3 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  Appartement de Luxe au coeur de Marrakech
                </h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/1.jpg'); ">
            <div  class="color-4 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  Dans notre catalogue, vous trouverez l'appartement idéal pour vous
                </h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/22.jpg'); ">
            <div  class="color-5 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  Des constructions historiques aux bâtiments les plus modernes,
                  il y en a pour tous les goûts.
                </h2>
              </div>
            </div>
          </li>
          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/2.jpg'); ">
            <div  class="color-6 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  De votre balcon, vous pourrez vous émerveiller devant les montagnes de l'Atlas.
                </h2>
              </div>
            </div>
          </li>

          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/44.jpg'); ">
            <div  class="color-3 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  Depuis votre appartement, vous pouvez vous rendre à pied à la place Jemaa el Fna.
                </h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/2.jpg'); ">
            <div  class="color-4 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  Chez Alquelira, vous pouvez louer l'appartement de vos rêves
                </h2>
              </div>
            </div>
          </li>

          <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/33.jpg'); ">
            <div  class="color-5 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  Des appartements situés dans un immeuble sécurisé et bien entretenu
                </h2>
              </div>
            </div>
          </li>
          <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url('assets/img/airbnbs/4.jpg'); ">
            <div  class="color-6 cont">
              <div class="case-studies-summary">
                <span class="text-orange">Marrakech</span>
                <h2>
                  La sélection de propriétés de haut gamme est un point d'honneur pour nous
                </h2>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="text-center animate-box">
        <a href="#" class="btn btn-primary btn-lg" style="visibility: hidden">.</a>
      </div>
    </div>
  </div>
</div>


<div class="container mx-auto px-4 pb-48">
  <div class="items-center flex flex-wrap">
    <div class="w-full md:w-5/12 ml-auto px-12 md:px-4">
      <div>
        <div
          class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
        >
          <i class="fas fa-file-alt text-xl hover:orange duration-150 transition-all"></i>
        </div>
        <h3 class="text-3xl font-semibold">
          Voulez - vous également faire partie de nos Alquilera?
        </h3>
        <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
          Quelles que soient vos exigences en termes de superficie,
          d'emplacement ou de nombre de pièces, vous trouverez
          l'appartement idéal dans notre collection, vos exigences en
          termes d'efficacité, de sécurité et de tranquillité, nos
          concierges et partenaires sont là pour vous aider à trouver
          ce que vous désirez. Notre gestion des locations saisonnières
          s'accompagne d'un service de haute gamme pour vos séjours.
          Votre tranquillité d'esprit est notre priorité absolue.
        </p>
        <ul class="list-none mt-6">
          <button [routerLink]="['/contact']" class="hover:bg-orange text-orange border border-solid font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">
            Contactez-Nous
          </button>
        </ul>
      </div>
    </div>

    <div class="w-full md:w-6/12 mr-auto px-4 pt-24 md:pt-0">
      <img
        alt="..."
        class="max-w-full rounded-lg shadow-xl"
        src="assets/img/Nos_Capacite2.jpg"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
