<div  *ngFor="let maison of maisons; let i=index"
      class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
>
  <div class="rounded-t bg-white mb-0 px-6 py-6">
    <div class="text-center flex justify-between">
      <h6 class="text-blueGray-700 text-xl font-bold uppercase">{{maison?.assetName + " " + (i+1)}}</h6>
    </div>
  </div>
  <div class="flex-auto">
    <div
      class="relative flex flex-col min-w-0 break-words bg-blueGray-100 w-full  shadow-xl"
    >
      <div class="flex-auto px-4 lg:px-10 pt-0">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-2 shadow-xl rounded-lg mt-2"
        >
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 py-4">
              <span class="text-left">{{"Admin.Users.See.Location" | translate}} : {{maison?.location}}</span>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-2 shadow-xl rounded-lg mt-2"
        >
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 py-4">
              <span class="text-left">{{"Admin.Users.See.City" | translate}} : {{maison?.city}}</span>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-2 shadow-xl rounded-lg mt-2"
        >
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 py-4">
              <span class="text-left">{{"Admin.Users.See.Zip" | translate}} : {{maison?.zipCode}}</span>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-2 shadow-xl rounded-lg mt-2"
        >
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 py-4">
              <span class="text-left">{{"Admin.Users.See.Area" | translate}} : {{maison?.area}}</span>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-2 shadow-xl rounded-lg mt-2"
        >
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 py-4">
              <span class="text-left">{{"Admin.Users.See.Room" | translate}} : {{maison?.chamberNumber}} / {{"Admin.Users.See.Toilet" | translate}} : {{maison?.toiletNumber }} / {{"Admin.Users.See.Bath" | translate}} : {{maison?.bathroomNumber}} / {{"Admin.Users.See.Floor" | translate}} : {{maison?.floorsNumber}}</span>
            </div>
          </div>
        </div>
        <div
          class="relative flex flex-col min-w-0 break-words mb-4 bg-white w-full mb-2 shadow-xl rounded-lg mt-2"
        >
          <div class="flex flex-wrap justify-center">
            <div class="w-full px-4 py-4">
              <span class="text-left">{{"Admin.Users.See.Rent" | translate}} : {{maison?.rentPrice}} / {{"Admin.Users.See.Elevator" | translate}} : {{maison?.elevator}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

