<app-auth-navbar></app-auth-navbar>
<!-- Page Wrap -->
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2710&q=80');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-50 bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="fas fa-calendar-day"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Accueil et Assistance des voyageurs
            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  SweetBNB vous propose également une assistance des voyageurs 24h/24 et 7j/7. L’accueil et le
                  départ des voyageurs sont gérés par nos équipes, et en personne. Nous nous chargeons de communiquer
                  les instructions d’accès aux différents logements et les guides pratiques de vos équipements.
                </p>
                <a href="auth/register" class="font-normal text-red-600">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-16 pt-48 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="far fa-bell"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Gestion de l’annonce sur Airbnb
            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Nous gérons vos locations également sur la fameuse plateforme ! En effet, nous voulons également
                  maximiser vos revenus en proposant une annonce dynamique, un prix attractif et juste, d’une location
                  qui saura attirée des voyageurs. Grâce à notre expertise dans ce domaine, nous effectuons un
                  référencement de votre annonce sur Airbnb pour augmenter votre taux d’occupation et proposer une
                  annonce des plus conformes aux standards de la location courte durée.
                </p>
                <a href="auth/register" class="font-normal text-red-600">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-16 pt-48 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="fas fa-random"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Mise en place de votre annonce sur Airbnb
            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Chez SweetBNB, tous nos services pour la gestion de votre annonce sont gratuits ! Nous prenons rendez-vous avec vous pour réaliser des photos professionnelles, nous aménageons votre logement le jour même pour le rendre attractif (dispositions des tables, couverts, fleurs et autres décorations).
                </p>
                <p  class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Votre annonce est en ligne le jour même, c’est une de nos garanties à 100%!
                </p>
                <a href="auth/register" class="font-normal text-red-600">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-16 pt-48 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="fas fa-align-justify"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Gestion et maintenance de votre logement
            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Grâce à une gestion transparente et efficace, SweetBNB vous propose un ménage professionnel
                  au départ et à l’arrivée des voyageurs ainsi qu’un état des lieux, une prise en charge rapide
                  de tout type de maintenance, des kits de linge de maison, etc. De plus, tous les dommages et
                  intérêts sont couverts pour les réservations Airbnb.
                </p>
                <a href="auth/register" class="font-normal text-red-600">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
