<app-auth-navbar></app-auth-navbar>
<main class="profile-page">
  <section class="relative block h-500-px">
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('./assets/img/Cover.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-none bg-black"
      ></span>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="fas fa-calendar-day"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Annonce sur Airbnb
            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Tous les services de gestion des annonces d'Alquelira sont entièrement gratuits ! Nous planifions avec vous une prise de photo professionnelle et aménageons votre maison le jour même pour la rendre présentable (disposition des tables, couverts, fleurs et autres décorations).
                  Nous vous garantissons que votre annonce sera publiée le jour même !

                </p>
                <a href="auth/register" class="font-normal text-orange">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-16 pt-48 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="far fa-bell"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Gestion et maintenance de votre logement
            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Grâce à notre équipe transparente et efficace, nous assurons un nettoyage expert au départ et à l'arrivée des clients, ainsi qu'un état des lieux , une prise en charge rapide de toute forme de réparation, des kits de linge et d'autres services. De plus, pour les réservations Airbnb, tous les dommages sont couverts par nos soins.
                </p>
                <a href="auth/register" class="font-normal text-orange">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-16 pt-48 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="fas fa-random"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Assistance des voyageurs
            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Alquelira vous offre une assistance aux voyageurs 24h/7j. Notre équipe s'occupe en personne de l'arrivée et du départ des voyageurs. Nous donnons des instructions pour les différents types de logement ainsi que des conseils pratiques pour leurs besoins.Quel que soit votre désir de vacances ou votre besoin de voyager rapidement, discrètement et sans problème, nos concierges et nos partenaires sont là pour vous aider à trouver la solution idéale.
                </p>
                <a href="auth/register" class="font-normal text-orange">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="relative py-16 pt-48 bg-blueGray-200">
    <div class="container mx-auto px-4">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
      >
        <div class="px-6">
          <div class="text-center mt-12">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              <i class="fas fa-align-justify"></i>
            </h3>
          </div>
          <div class="text-center ">
            <h3
              class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2"
            >
              Gestion de l’annonce sur Airbnb

            </h3>
          </div>
          <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-9/12 px-4">
                <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                  Grâce à nos compétences dans ce secteur, sur la fameuse plateforme
                  Airbnb. En effet, nous cherchons à optimiser vos bénéfices en proposant
                  une annonce dynamique, une tarification raisonnable et attractive, et une
                  location qui séduira les visiteurs. Nous pouvons référencer votre annonce
                  sur Airbnb afin d'améliorer votre taux d'occupation et vous proposer une
                  annonce conforme à la réglementation sur la location de courte durée.

                </p>
                <a href="auth/register" class="font-normal text-orange">
                  Show more
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<app-footer></app-footer>
