<nav
  class="top-0  fixed z-50 w-full bg-blueGray-700 lex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      >
        alquilera
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }"
      id="example-navbar-warning"
    >

      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-white px-3 py-2 flex items-center text-xs uppercase font-bold"
             href="/">Alquirela</a>
        </li>
        <li class="flex items-center">
          <app-pages-dropdown class="block"></app-pages-dropdown>
        </li>
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-white px-3 py-2 flex items-center text-xs uppercase font-bold"
             href="/why-us">Pourquoi nous choisir</a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-white px-3 py-2 flex items-center text-xs uppercase font-bold"
             href="about-us">A propos de nous
          </a>
        </li>
        <li class="flex items-center">
          <a class="hover:text-blueGray-500 text-white   px-3 py-2 flex items-center text-xs uppercase font-bold"
          >
            <i class="fas fa-phone-alt text-white w-5"></i><abbr title="click to copier"><span class="cursor-pointer" (click)="copyText()">+212.6.62.03.04.38</span></abbr>
          </a>
        </li>
        <li class="flex items-center" *ngIf="currentUser">
          <a class="hover:text-blueGray-500 text-white px-3 py-2 flex items-center text-xs uppercase font-bold"
             href="profile">Profile
          </a>
        </li>
        <li class="flex items-center">
          <button
            class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
            type="button"
          >
            <a href="contact">Contact</a>
          </button>
        </li>

        <li class="flex items-center">
          <button *ngIf="!currentUser"
                  [routerLink]="['/auth/login']"
                  class="bg-white text-blueGray-700 active:bg-blueGray-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          >
            Login
          </button>
          <button *ngIf="currentUser"
                  (click)="logout()"
                  [routerLink]="['/auth/login']"
                  class="bg-white text-blueGray-700 active:bg-blueGray-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
          >
            Log out
          </button>
        </li>

      </ul>
    </div>
  </div>
</nav>
