<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
    >
      <div class="container mx-auto px-4 h-full">
        <div class="flex content-center items-center justify-center h-full">
          <div class="w-full px-4 py-4">
            <ejs-schedule height="500px" class="mb-2" [readonly]="readonly" [eventSettings]="eventObject" [selectedDate]="setDate" [currentView]="setView" ></ejs-schedule>
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
            >
              <div class="rounded-t mb-0 px-6 py-6">
                <div class="text-center mb-3">
                  <h6 class="text-blueGray-500 text-sm font-bold">
                    {{"Admin.AddReser.Title" | translate}}
                  </h6>
                </div>
                <hr class="mt-6 border-b-1 border-blueGray-300" />
              </div>
              <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
                <form [formGroup]="addReservationForm" (ngSubmit)="addReservation()">
                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                      htmlFor="grid-password"
                    >
                      {{"Profile.Houses.Table.Start" | translate}}
                    </label>
                    <input
                      formControlName="startTime"
                      type="date"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      placeholder="start att"
                    />
                    <div *ngIf="addReservationForm.get('startTime').invalid && (addReservationForm.get('startTime').touched || addReservationForm.get('startTime').dirty)">
                      <div class="text-red-500" *ngIf="addReservationForm.get('startTime').getError('required')">{{"Contact.Required" | translate}}</div>
                    </div>
                  </div>

                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                      htmlFor="grid-password"
                    >
                      {{"Profile.Houses.Table.To" | translate}}
                    </label>
                    <input
                      formControlName="endTime"
                      type="date"
                      min="{{addReservationForm.get('startTime').value}}"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      placeholder="end att"
                    />
                    <div *ngIf="addReservationForm.get('endTime').invalid && (addReservationForm.get('endTime').touched || addReservationForm.get('endTime').dirty)">
                      <div class="text-red-500" *ngIf="addReservationForm.get('endTime').getError('required')">{{"Contact.Required" | translate}}</div>
                    </div>
                  </div>

                  <div class="relative w-full mb-3">
                    <label
                      class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                      htmlFor="grid-password"
                    >
                      {{"Profile.Houses.Table.Rent" | translate}}
                    </label>
                    <input
                      formControlName="totalRent"
                      type="number"
                      [min]="100"
                      class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                      placeholder="rent price (DH)"
                    />
                    <div *ngIf="addReservationForm.get('totalRent').invalid && (addReservationForm.get('totalRent').touched || addReservationForm.get('totalRent').dirty)">
                      <div class="text-red-500" *ngIf="addReservationForm.get('totalRent').getError('required')">{{"Contact.Required" | translate}}</div>
                      <div class="text-red-500" *ngIf="addReservationForm.get('totalRent').getError('min')">{{"Contact.Min" | translate}}</div>
                    </div>
                  </div>
                  <div class="text-center mt-6" [ngStyle]="{'display': this.addReservationForm.get('startTime').value < this.addReservationForm.get('endTime').value ? 'block' : 'none'}">
                    <button
                      class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                      [ngStyle]="{'display': addReservationForm.valid ? 'block' : 'none'}"
                    >
                      {{"Admin.AddReser.Button" | translate}}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
      <div class="flex-auto">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full shadow-xl rounded-lg"
        >
          <div>
            <div class="flex flex-wrap justify-center">
              <div class="w-full text-center">
                <div
                  id="map-canvas"
                  class="relative w-full rounded h-600-px"
                ></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
