<div class="flex flex-wrap mt-4">
  <div class="w-full mb-12 px-4" style="margin-bottom: 200px">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
    >
      <div class="rounded-t mb-0 pb-4 py-3 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3
              class="font-semibold text-lg text-blueGray-700"
            >
              {{"Admin.Resers.Title" | translate}}
            </h3>
          </div>
        </div>
        <div class="flex flex-wrap">
          <div class="w-full px-4 flex-1">
            <button class="mx-4 my-4 text-sm bg-blue rounded text-white px-2 py-2" (click)="changeStatus()">
            <p *ngIf="addAdminForm"><i class="fas fa-times"></i></p>
            <p *ngIf="!addAdminForm" class="font-bold">
              {{"SuperAdmin.Admins.Button" | translate}}
            </p>
            </button>
          </div>
          <div class="w-full px-4 flex-1">
            <input class="placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm border border-blueGray-300 outline-none focus:outline-none focus:shadow-outline w-6/12 mx-4 my-4" style="margin-left: 45%" placeholder="Search..." type="text"
                   [(ngModel)]="searchValue"
                   id="search"/>
          </div>
        </div>
      </div>
      <div class="w-full px-4 flex-1" [ngStyle]="{'display': addAdminForm == false ? 'none': 'block'}">
        <form [formGroup]="addAmin" (ngSubmit)="addNewAdmin()">
          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{"Admin.Users.Table.First" | translate}}
            </label>
            <input
              formControlName="firstName"
              type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            />
            <div *ngIf="addAmin.get('firstName').invalid && (addAmin.get('firstName').touched || addAmin.get('firstName').dirty)">
              <div class="text-red-500" *ngIf="addAmin.get('firstName').getError('required')">{{"Contact.Required" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('firstName').getError('minlength')">{{"Contact.ThreeCara" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('firstName').getError('pattern')">{{"Contact.Invalid" | translate}}</div>
            </div>
          </div>

          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{"Admin.Users.Table.Last" | translate}}
            </label>
            <input
              formControlName="lastName"
              type="text"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            />
            <div *ngIf="addAmin.get('lastName').invalid && (addAmin.get('lastName').touched || addAmin.get('lastName').dirty)">
              <div class="text-red-500" *ngIf="addAmin.get('lastName').getError('required')">{{"Contact.Required" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('lastName').getError('minlength')">{{"Contact.ThreeCara" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('lastName').getError('pattern')">{{"Contact.Invalid" | translate}}</div>
            </div>
          </div>

          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{"Admin.Dashboard.Client.Email" | translate}}
            </label>
            <input
              formControlName="email"
              type="email"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              placeholder="Email"
            />
            <div *ngIf="addAmin.get('email').invalid && (addAmin.get('email').touched || addAmin.get('email').dirty)">
              <div class="text-red-500" *ngIf="addAmin.get('email').getError('required')">{{"Contact.Required" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('email').getError('email')">{{"Contact.Email" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('email').getError('pattern')">{{"Contact.Invalid" | translate}}</div>
            </div>
          </div>

          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{"Login.Password" | translate}}
            </label>
            <input
              formControlName="password"
              type="password"
              autocomplete="on"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              placeholder="Password"
            />
            <div *ngIf="addAmin.get('password').invalid && (addAmin.get('password').touched || addAmin.get('password').dirty)">
              <div class="text-red-500" *ngIf="addAmin.get('password').getError('required')">{{"Contact.Required" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('password').getError('minlength')">{{"Contact.EightCara" | translate}}</div>
            </div>
          </div>

          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{"Admin.Dashboard.Client.Address" | translate}}
            </label>
            <input
              formControlName="address"
              type="text"
              placeholder="Address"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
            />
            <div *ngIf="addAmin.get('address').invalid && (addAmin.get('address').touched || addAmin.get('address').dirty)">
              <div class="text-red-500" *ngIf="addAmin.get('address').getError('required')">This field is required</div>
            </div>
          </div>

          <div class="relative w-full mb-3">
            <label
              class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
              htmlFor="grid-password"
            >
              {{"Admin.Dashboard.Client.Phone" | translate}}
            </label>
            <input
              formControlName="phoneNumber"
              type="number"
              class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
              ng2TelInput
            />
            <div *ngIf="addAmin.get('phoneNumber').invalid && (addAmin.get('phoneNumber').touched || addAmin.get('phoneNumber').dirty)">
              <div class="text-red-500" *ngIf="addAmin.get('phoneNumber').getError('required')">{{"Contact.Required" | translate}}</div>
              <div class="text-red-500" *ngIf="addAmin.get('phoneNumber').getError('pattern')">{{"Contact.Invalid" | translate}}</div>
            </div>
          </div>
          <div class="mt-6" [hidden]="addAmin.invalid">
            <button
              class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            >
              {{"SuperAdmin.Form.Button" | translate}}
            </button>
          </div>
        </form>
      </div>
        <div *ngIf="!addAdminForm" class="block w-full overflow-x-auto">
            <!-- Projects table -->
            <table class="items-center w-full bg-transparent border-collapse">
              <thead>
              <tr>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                >
                  {{"Admin.Users.Table.First" | translate}}
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                >
                  {{"Admin.Users.Table.Last" | translate}}
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                >
                  {{"Admin.Dashboard.Client.Email" | translate}}
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                >
                  {{"Admin.Dashboard.Client.Address" | translate}}
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                >
                  {{"Admin.Dashboard.Client.Phone" | translate}}
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                >
                  {{"SuperAdmin.Admins.Table.Client" | translate}}
                </th>
                <th
                  class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left bg-blueGray-50 text-blueGray-500 border-blueGray-100"
                >
                  {{"SuperAdmin.Admins.Table.Houses" | translate}}
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let admin of admins | paginate: {itemsPerPage: 5, currentPage: p} | adminsFilter: searchValue">
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{admin.firstName}}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{admin?.lastName}}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{admin?.email}}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{admin?.address}}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{admin?.phoneNumber}}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{admin?.clientNumber}}
                </td>
                <td
                  class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                  {{admin?.housesNumber}}
                </td>
              </tr>
              </tbody>
            </table>
            <pagination-controls
              (pageChange)="p = $event">
            </pagination-controls>
          </div>
    </div>

  </div>
</div>
