<app-auth-navbar></app-auth-navbar>
<main>
  <div class="flex flex-wrap items-center mt-32 mb-24 shadow-sm">
    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
      <div
        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
      >
        <i class="fas fa-user-friends text-xl hover:orange"></i>
      </div>
      <h3 class="text-3xl mb-2 font-semibold leading-normal black-color">
        Un Service de haute gamme avant tout.
      </h3>
      <p
        class="text-lg  leading-relaxed mt-4 mb-4 black-color"
      >
        Alquelira, vous offre un service complet de conciergerie pour gérer vos propriétés, leur annonce et l'arrivée des clients, la professionnalité, la sécurité et votre confiance sont nos objectifs principaux.
      </p>
      <button
        class="hover:bg-orange hover:shadow-lg text-orange border border-solid font-bold uppercase text-sm px-6 py-3 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
      >
        <a href="contact">Contact</a>
      </button>
      <ul class="list-none mt-6 mb-6">
        <li class="py-2">
          <div class="flex items-center">
            <div>
              <span
                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-orange bg-white border mr-3"
              >
                <i class="fas fa-check-circle"></i>
              </span>
            </div>
            <div>
              <h4 class="text-blueGray-500">
                Assistance des voyageurs 24h/24 et également 7 jours sur 7
              </h4>
            </div>
          </div>
        </li>
        <li class="py-2">
          <div class="flex items-center">
            <div>
                <span
                  class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-orange bg-white border mr-3"
                >
                  <i class="fas fa-check-circle"></i>
                </span>
            </div>
            <div>
              <h4 class="text-blueGray-500">Gestion des logements</h4>
            </div>
          </div>
        </li>
        <li class="py-2">
          <div class="flex items-center">
            <div>
              <span
                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-orange bg-white border mr-3"
              >
                <i class="fas fa-check-circle"></i>
              </span>
            </div>
            <div>
              <h4 class="text-blueGray-500">Gestion et référencement des annonces</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto max:padding mml:padding-left-right">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-orange"
      >
        <img
          alt="..."
          src="assets/img/airbnbs/Pour%20quoi%20Nous%20choisir%20copie.jpg"
          class="w-full align-middle rounded-t-lg"
          style="height: 300px;"
        />
        <blockquote class="relative p-8 mb-4">
          <svg
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 583 95"
            class="absolute left-0 w-full block h-95-px -top-94-px"
          >
            <polygon
              points="-30,95 583,95 583,65"
              class="text-orange fill-current"
            ></polygon>
          </svg>
          <h4 class="text-xl font-bold text-white">Alquirela</h4>
          <p class="text-md font-light mt-2 text-white">
            Avec SweetBNB, je suis au courant de toutes les arrivées et départs
            de mon logement et je peux les contacter pour la moindre question
            à n’importe quel moment !
          </p>
          <h2 class="font-bold uppercase text-white pt-6">Yassine EL HALI</h2>
          <p class="text-white">Client de Alquirela à Marrakech.</p>
        </blockquote>
      </div>
    </div>
  </div>

  <section class="pt-20 mb-12">
    <div class="container mx-auto">
      <div class="flex flex-wrap justify-center text-center ">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-bold text-orange ">
            Louez vos logements en toute tranquillité,
            Alquelira s'occupe de tout !
          </h2>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4 py-12 ">
          <div class="px-6 py-8 transition-all duration-150 hover:shadow-lg rounded-lg ease-linear bg-blueGray-100" >
            <h2 class="mt-1 text-sm text-blueGray-400 uppercase text-3xl text-center font-bold font-bold new-color">
              Assistance des voyageurs est disponible 24/7.
            </h2>
            <div class="pt-6 text-center">
                <h5 class="text-xl font-normal">
                  Alquelira est à la disposition de vos
                  clients et s'occupe d'eux pendant leur
                  séjour, de I' arrivée au départ.
              </h5>
              <p class="mt-4 text-sm text-blueGray-400 uppercase font-semibold">
                <button
                  [routerLink]="['/contact']"
                  class="bg-orange text-white text-xs font-bold uppercase px-6 hover:btn-animation py-4 rounded shadow hover:shadow-lg lg:mr-1 lg:mb-0 ml-3 mb-3 transition-all duration-150"
                  type="button"
                >
                  <a href="contact">Contact</a>
                </button>
              </p>
              <div class="mt-6">
                <button
                  class="btnn hover:transform-rotation bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.linkedin.com/company/bzcorpsarl/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </button>
                <button
                  class="btnn hover:transform-rotation bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.facebook.com/bzcorpsarl1/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </button>
                <button
                  class="btnn hover:transform-rotation bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.instagram.com/bzcorpsarl/" target="_blank"><i class="fab fa-instagram"></i></a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4 py-12 ">
          <div class="px-6 py-8 transition-all duration-150 hover:shadow-lg rounded-lg ease-linear bg-blueGray-100" >
            <h2 class="mt-1 text-sm text-blueGray-400 uppercase text-3xl text-center font-bold font-bold new-color">
              Gestion et Maintenance des logements
            </h2>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-normal">
                Nous comprenons à quel point vos biens sont précieux,
                c'est pourquoi nous nous engageons à
                les protéger.
              </h5>
              <p class="mt-4 text-sm text-blueGray-400 uppercase font-semibold">
                <button
                  [routerLink]="['/contact']"
                  class="bg-orange text-white text-xs font-bold uppercase px-6 hover:btn-animation py-4 rounded shadow hover:shadow-lg lg:mr-1 lg:mb-0 ml-3 mb-3 transition-all duration-150"
                  type="button"
                >
                  <a href="contact">Contact</a>
                </button>
              </p>
              <div class="mt-6">
                <button
                  class="btnn hover:transform-rotation bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.linkedin.com/company/bzcorpsarl/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </button>
                <button
                  class="btnn hover:transform-rotation bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.facebook.com/bzcorpsarl1/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </button>
                <button
                  class="btnn hover:transform-rotation bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.instagram.com/bzcorpsarl/" target="_blank"><i class="fab fa-instagram"></i></a>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4 py-12 ">
          <div class="px-6 py-8 transition-all duration-150 hover:shadow-lg rounded-lg ease-linear bg-blueGray-100" >
            <h2 class="mt-1 text-sm text-blueGray-400 uppercase text-3xl text-center font-bold font-bold new-color">
              Optimisez et Maximisez vos revenus de location
            </h2>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-normal">
                Alquelira place votre annonce sur les sites de
                location à court terme et les gère.
              </h5>
              <p class="mt-4 text-sm text-blueGray-400 uppercase font-semibold">
                <button
                  [routerLink]="['/contact']"
                  class="bg-orange text-white text-xs font-bold uppercase px-6 hover:btn-animation py-4 rounded shadow hover:shadow-lg lg:mr-1 lg:mb-0 ml-3 mb-3 transition-all duration-150"
                  type="button"
                >
                  <a href="contact">Contact</a>
                </button>
              </p>
              <div class="mt-6">
                <button
                  class="btnn hover:transform-rotation bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.linkedin.com/company/bzcorpsarl/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </button>
                <button
                  class="btnn hover:transform-rotation bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.facebook.com/bzcorpsarl1/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                </button>
                <button
                  class="btnn hover:transform-rotation bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
                  type="button"
                >
                  <a href="https://www.instagram.com/bzcorpsarl/" target="_blank"><i class="fab fa-instagram"></i></a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full h-500-px rounded-lg "
            src="assets/img/airbnbs/Pk%20n%20ch-01.png"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4 max:padding">
          <div class="md:pr-12 max:padding-0">
            <div
              class="text-orange p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full"
            >
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold black-color">
              “Nous avons acheté un appartement à Marrakech pour une
              location saisonnière, Alquelira s'est occupé de tout .
              La combinaison des talents de design d’intérieur et de
              décorateur , nous a permis de nous reposer sur un plan
              de décoration unique et moderne, je le recommande vivement.”
            </h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Imane MARZOUKI
            </p>
            <p class="text-sm text-orange">Cliente Alquelira à Marrakech.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container px-4 mx-auto  mt-48 mb-24">
    <div class="w-full mb-12">
      <h2 class="text-4xl font-bold w-6/12 text-center mx-auto black-color mml:witdh-1 mmm:with-2">
        Votre bien est entre de bonnes mains ! Louez en toute tranquillité!
      </h2>
      <p class="text-center font-semibold my-2">
        Avec Alquelira, vous bénéficiez d'une tarification précise, efficace et avantageuse.
      </p>
    </div>
    <div class="flex flex-wrap mmm:flex-direction">
      <div class="w-full px-4 flex-1">
        <img src="assets/img/airbnbs/Pk_Ns_Ch-02.png" class="text-sm block w-10/12 lg:w-9/12 text-orange rounded mmm:margin"/>
      </div>
      <div class="w-full px-4 flex-1">
        <div class="flex flex-wrap">
          <div class="w-full">
            <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
              <li class="-mb-px my-2 mx-2 last:mr-0 flex-auto text-center mb-2">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" (click)="toggleTabs(1)" [ngClass]="{'text-orange bg-white': openTab !== 1, 'text-white bg-orange': openTab === 1}">
                  Séjours effectués
                </a>
              </li>
              <li class="-mb-px my-2 mx-2 last:mr-0 flex-auto text-center mb-2">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" (click)="toggleTabs(2)" [ngClass]="{'text-orange bg-white': openTab !== 2, 'text-white bg-orange': openTab === 2}">
                  Commission basée sur les revenus
                </a>
              </li>
              <li class="-mb-px my-2 mx-2 last:mr-0 flex-auto text-center mb-2">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" (click)="toggleTabs(3)" [ngClass]="{'text-orange bg-white': openTab !== 3, 'text-white bg-orange': openTab === 3}">
                  Ce que vous bénéficiez
                </a>
              </li>
            </ul>
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
              <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">
                  <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                    <p>
                      Nous réalisons en moyenne 8 à 10 séjours par mois, et nous
                      veillons à ajuster la tarification afin de garantir la
                      meilleure rentabilité possible pour votre logement.
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                    <p>
                      Nous faisons confiance en vous comme vous faites
                      confiance en nous: aucune avance, pas de frais cachés,
                      et aucun engagement envers Alquelira. Nous prenons
                      seulement 25% de commission sur les revenus générés
                      (plus les frais de nettoyage facturés directement aux clients sur Airbnb) !
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                    <p>
                      Louez votre bien l'esprit tranquille, Alquelira vous offre
                      un service de conciergerie complet, de la création à la
                      gestion des annonces, de l'arrivée au départ des clients,
                      ainsi qu'une maintenance et une assistance 24h/7j.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
