<app-auth-navbar></app-auth-navbar>
<main>
  <div class="flex flex-wrap items-center mt-32 mb-24 shadow-sm">
    <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
      <div
        class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white"
      >
        <i class="fas fa-user-friends text-xl"></i>
      </div>
      <h3 class="text-3xl mb-2 font-semibold leading-normal">
        Un service de qualité avant tout.
      </h3>
      <p
        class="text-lg  leading-relaxed mt-4 mb-4 text-blueGray-600"
      >
        Alquirela vous propose un service de conciergerie complet pour gérer vos biens, leurs
        annonces et l’accueil des voyageurs dont leur bien-être est une de nos priorités.
      </p>
      <button
        class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-12 py-4 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
        type="button"
      >
        <a href="contact">Contact</a>
      </button>
      <ul class="list-none mt-6 mb-6">
        <li class="py-2">
          <div class="flex items-center">
            <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-check-circle"></i>
                    </span>
            </div>
            <div>
              <h4 class="text-blueGray-500">
                Assistance des voyageurs 24h/24 et également 7 jours sur 7
              </h4>
            </div>
          </div>
        </li>
        <li class="py-2">
          <div class="flex items-center">
            <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-check-circle"></i>
                    </span>
            </div>
            <div>
              <h4 class="text-blueGray-500">Gestion des logements</h4>
            </div>
          </div>
        </li>
        <li class="py-2">
          <div class="flex items-center">
            <div>
                    <span
                      class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3"
                    >
                      <i class="fas fa-check-circle"></i>
                    </span>
            </div>
            <div>
              <h4 class="text-blueGray-500">Gestion et référencement des annonces</h4>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
      <div
        class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
      >
        <img
          alt="..."
          src="assets/img/why-us-intro.jpg"
          class="w-full align-middle rounded-t-lg"
          style="height: 300px;"
        />
        <blockquote class="relative p-8 mb-4">
          <svg
            preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 583 95"
            class="absolute left-0 w-full block h-95-px -top-94-px"
          >
            <polygon
              points="-30,95 583,95 583,65"
              class="text-red-600 fill-current"
            ></polygon>
          </svg>
          <h4 class="text-xl font-bold text-white">Alquirela</h4>
          <p class="text-md font-light mt-2 text-white">
            Avec SweetBNB, je suis au courant de toutes les arrivées et départs
            de mon logement et je peux les contacter pour la moindre question
            à n’importe quel moment !
          </p>
          <h2 class="font-bold uppercase text-white pt-6">Yassine EL HALI</h2>
          <p class="text-white">Client de Alquirela à Marrakech.</p>
        </blockquote>
      </div>
    </div>
  </div>

  <section class="pt-20 ">
    <div class="container mx-auto">
      <div class="flex flex-wrap justify-center text-center ">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-bold">Louez vos logements l’esprit tranquille, SweetBNB s’occupe de tout !</h2>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4 py-12 ">
          <div class="px-6 py-8 transition-all duration-150 hover:shadow-lg rounded-lg ease-linear" >
            <h2 class="mt-1 text-sm text-blueGray-400 uppercase text-3xl text-center">Assistance des voyageurs 24/7</h2>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">
                SweetBNB est à l’écoute de vos voyageurs et s’occupe
                d’eux durant leurs séjours, de l’arrivée jusqu’au départ.
              </h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                <button
                  class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-12 py-4 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                  type="button"
                >
                  <a href="contact">Contact</a>
                </button>
              </p>
              <div class="mt-6">
                <button
                  class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i>
                </button>
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button
                  class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-dribbble"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4 py-12 ">
          <div class="px-6 py-8 transition-all duration-150 hover:shadow-lg rounded-lg ease-linear" >
            <h2 class="mt-1 text-sm text-blueGray-400 uppercase text-3xl text-center">Assistance des voyageurs 24/7</h2>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">
                SweetBNB est à l’écoute de vos voyageurs et s’occupe
                d’eux durant leurs séjours, de l’arrivée jusqu’au départ.
              </h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                <button
                  class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-12 py-4 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                  type="button"
                >
                  <a href="contact">Contact</a>
                </button>
              </p>
              <div class="mt-6">
                <button
                  class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i>
                </button>
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button
                  class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-dribbble"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-4/12 lg:mb-0 mb-12 px-4 py-12 ">
          <div class="px-6 py-8 transition-all duration-150 hover:shadow-lg rounded-lg ease-linear" >
            <h2 class="mt-1 text-sm text-blueGray-400 uppercase text-3xl text-center">Assistance des voyageurs 24/7</h2>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">
                SweetBNB est à l’écoute de vos voyageurs et s’occupe
                d’eux durant leurs séjours, de l’arrivée jusqu’au départ.
              </h5>
              <p class="mt-1 text-sm text-blueGray-400 uppercase font-semibold">
                <button
                  class="bg-red-600 text-white active:bg-red-700 text-xs font-bold uppercase px-12 py-4 rounded shadow hover:shadow-lg outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
                  type="button"
                >
                  <a href="contact">Contact</a>
                </button>
              </p>
              <div class="mt-6">
                <button
                  class="bg-lightBlue-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-twitter"></i>
                </button>
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button
                  class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <i class="fab fa-dribbble"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full h-500-px   rounded-lg shadow-lg"
            src="assets/img/large-testimonial-2.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">
              “Grâce à SweetBNB, j’ai pu louer mon appartement en toute confiance. Leur correspondant
              est à l’écoute, disponible et la conciergerie propose un service complet, à jour et de qualité !”
            </h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Imane MARZOUKI
            </p>
            <p class="text-sm">Cliente SweetBNB à Marrakech.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container px-4 mx-auto mt-48 mb-24">
    <div class="w-full mb-12">
      <h2 class="text-4xl font-bold w-6/12 text-center mx-auto">Louez vos logements l’esprit tranquille, SweetBNB s’occupe de tout !</h2>
      <p class="text-center font-semibold my-2">Avec SweetBNB, vous avez accès à une tarification claire, efficace et compétitive.</p>
    </div>
    <div class="flex flex-wrap">
      <div class="w-full px-4 flex-1">
        <img src="assets/img/equip-leaders-from-strategy.png" class="text-sm block w-10/12 lg:w-9/12 text-blueGray-700 rounded"/>
      </div>
      <div class="w-full px-4 flex-1">
        <div class="flex flex-wrap">
          <div class="w-full">
            <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center mb-2">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" (click)="toggleTabs(1)" [ngClass]="{'text-red-600 bg-white': openTab !== 1, 'text-white bg-red-600': openTab === 1}">
                   Séjours générés
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center mb-2">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" (click)="toggleTabs(2)" [ngClass]="{'text-red-600 bg-white': openTab !== 2, 'text-white bg-red-600': openTab === 2}">
                   Commission sur revenus générés
                </a>
              </li>
              <li class="-mb-px mr-2 last:mr-0 flex-auto text-center mb-2">
                <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal cursor-pointer" (click)="toggleTabs(3)" [ngClass]="{'text-red-600 bg-white': openTab !== 3, 'text-white bg-red-600': openTab === 3}">
                   Ce dont vous bénéficiez
                </a>
              </li>
            </ul>
            <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
              <div class="px-4 py-5 flex-auto">
                <div class="tab-content tab-space">
                  <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                    <p>
                      En moyenne, nous générons entre 8 à 10 séjours minimum par mois
                      et faisons en sorte d’optimiser les prix pour vous garantir la
                      meilleure rentabilité possible pour vos biens.
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                    <p>
                      Nous vous faisons confiance comme vous nous faites confiance :
                      aucune avance, aucun frais caché et aucun engagement pour SweetBNB
                      ne vous sont demandés. Nous ne prenons que 20% de commission sur les
                      revenus générés (+ les frais de ménage facturés aux clients sur Airbnb
                      directement) !
                    </p>
                  </div>
                  <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                    <p>
                      Partez l’esprit tranquille, SweetBNB offre un service de conciergerie
                      complet: de la création à la gestion de l’annonce, de l’arrivée jusqu’au
                      départ des voyageurs, d’un service de maintenance et d’assistance 24h/24 et 7j/7.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
